@mixin headerDecoration {
    content: '';
    position: absolute;
    top: -24px;
    left: 0;
    width: 80px;
    height: 4px;
    background-color: $green;
}

.skills {
    width: 100%;
    height: 100%;
    background-color: $black;
    color: #fff;

    &__box {
        max-width: 1080px;
        padding: 64px 16px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    &__container {
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }

    &__header1 {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: #fff;

        @media (min-width: $tablet) {
            align-self: flex-start;
        }
        
        &::before {
            @include headerDecoration;
            background-color: $green;
        }
    }

    &__header2 {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: #fff;

        @media (min-width: $tablet) {
            align-self: flex-start;
        }
        
        &::before {
            @include headerDecoration;
            background-color: $purple;
        }
    }

    &__list {
        color: #B7B7B7;
        margin-bottom: 50px;

        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-width: 430px;
        }

        &--item1 {
            position: relative;
            list-style: none;
            padding: 0 22px;
            line-height: 40px;
            &::before {
                position: absolute;
                content: url(../assets/icons/greenMark.svg);
                top: 2px;
                left: -10px;
            }
        }

        &--item2 {
            position: relative;
            list-style: none;
            padding: 0px 22px;
            line-height: 40px;
            &::before {
                position: absolute;
                content: url(../assets/icons/purpleMark.svg);
                top: 2px;
                left: -10px;
            }
        }
    }
}

